body {
	font-color: #5f5454;
	color: #5f5454;
}

.background {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;

}

.background::after {
  content: "";
  background: url("/assets/images/China_town_Manchester.png");
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

li {
  list-style: none;
}

.settings-container {
	background-color: #CCC;
	border-bottom: solid 1px #7F736B;
  opacity: 0.9;
}

#txtUrl {
  width: 500px;
}

.settings-field {
	margin-bottom: 5px;
	height: 20px;
}

.settings-field label {
	width: 50px;
	float: left;
	display: block;
}

.settings-field input {
	float: left;
	width: 300px
}

#btnAddLink {
	float: right;
	margin-right:15px;
	margin-top: 5px;
}

.settings legend {
	margin-bottom: 5px;
}

.settings .import-export button {
	float: right;
	width: 150px;
}

.settings .import-export label {
	float: right;
	margin-right: 5px;
}

.settings .error {
	color: #EE0000;
    clear: right;
    float: right;
    margin-right: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.is-hidden {
	display: none;
}

.link {
	margin: 20px;
  padding: 5px;
  border: solid 1px #7F736B;
  float: left;
  background-color: #CCC;
  opacity: 0.9;
}

.link .search {
	width: 228px;
}

#importFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-select {
  height: 36px;
  margin-bottom: 5px;
}

.remove-link {
  background: url('/assets/images/delete.png');
  width:20px;
  height:20px;
  display:block;
  float: left;
  margin-top: 8px;
  margin-right: 5px;
}